@media (min-width: 1000px) {
  $dotBorderThickness: 3px;

  body {
    background: #ddd;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 2rem;
    height: 100%;
  }

  header {
    height: 10.5rem;
    padding-top: 1rem;

    nav {
      display: none;
    }
  }

  header > div, main, footer {
    margin: 0 auto;
    max-width: 1000px;
  }

  main, footer {
    width: 1000px;
  }

  main > div {
    border-width: 0 $dotBorderThickness 0 $dotBorderThickness;
    border-style: dotted;
    border-color: var(--color-dot-border);
    margin: 0 1rem 0 1rem;
    padding: 0 2rem 4rem 2rem;
  }

  article {
    align-content: center;
    border-radius: 0 0 1rem 1rem;
    height: 100%;
    padding: 2rem;

    blockquote {
      margin: 0 2rem 0 2rem;
    }
  }

  aside {
    --col-width: calc(1000px * 3 / 12);
    width: calc(var(--col-width) + 3.95rem);

    border-radius: 0 0 1rem 1rem;
    margin-top: -100rem;
    padding: 0 1rem 1rem 1rem;
    position: sticky;
    top: 0;
    z-index: 20;

    & > div {
      border: $dotBorderThickness dotted var(--color-dot-border);
      border-radius: 0.5rem;
      margin-top: -2rem;
      padding: 3rem 1rem;
    }

    .word-count-display {
      border: 0;
      color: white;
      clip-path: ellipse(85% 100% at 50% 0%);
      font-size: 250%;
      font-weight: bold;
      margin: 0 -1rem 0 -1rem;
      padding: 0 0 5px 0;
      text-align: center;

      & div {
        background: var(--color-checks);
        clip-path: ellipse(82% 100% at 50% 0%);
        padding: 0 0 1rem 0;
        margin: 0;
        border: 0;

        & div {
          clip-path: ellipse(75% 100% at 50% 0%);
          padding: 1rem 0 2rem 0;
          margin: 0;
          border: 0;
        }
      }
    }
  }

  textarea {
    background: white;
    border-radius: 1rem 0 0 1rem;
    border-style: solid;
    border-width: 1px;
    padding: 1rem;

    &:active, &:focus {
      background: #fff4cb;
      outline: 0;
    }

    &:hover, &:active, :focus {
      border-color: gold;
    }
  }

  .placeholder-text {
    color: rgba(0, 0, 0, 0.1);
    font: 300% 'Arial', 'Verdana', 'Helvetica', sans-serif;
    font-weight: bolder;
    pointer-events: none;
    text-align: center;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  }

  footer {
    font-size: 95%;
    padding: 1rem 0 1rem 0;
    text-align: center;

    & a {
      font-weight: bold;
    }
  }

  .mobile-only {
    display: none;
  }
}
