@media (min-width: 1000px) {
  body {
    display: flex;
    background: #ddd
  }

  .themed {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  main {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: start;
    width: 1100px;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1rem;
    height: 100%;
    padding: 0 1rem 0 1rem;
  }

  header {
    padding-top: 1rem;

    nav {
      display: none;
    }
  }

  header > div, main {
    margin: 0 auto;
    max-width: 1000px;
  }

  aside {
    background: white;
    border-radius: 0 0 1rem 1rem;
    margin-top: -4rem;
    padding: 2rem 1rem 1rem 1rem;
    position: absolute;
    width: 19.5rem;

    & > div {
      border: 3px dotted #ddd;
      border-radius: 0.5rem;
      margin-top: 0.5rem;
      padding: 1rem;
    }
  }

  header, aside, main, article {
    box-shadow: 0 0 0.5rem var(--color-shadow);
  }

  textarea {
    padding: 1rem;
    background: white;
    border-radius: 1rem 0 0 1rem;
    border-width: 2px;
    border-style: solid;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);

    &:active, &:focus {
      background: #fff4cb;
      outline: 0;
    }

    &:hover, &:active, :focus {
      border-color: gold;
    }
  }

  main > div {
    flex: 1;
  }

  main > div, footer {
    border-width: 0 3px 0 3px;
    border-style: dotted;
    border-color: rgba(0, 0, 0, 0.1);
    margin: 0 1rem 0 1rem;
    padding: 0 2rem 0 2rem;
  }

  article {
    background: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    border-radius: 0 0 1rem 1rem;

    blockquote {
      margin: 0 2rem 0 2rem;
    }
  }

  .placeholder-text {
    margin: 5rem 1rem 5rem 1rem;
    font: 300% 'Arial', 'Verdana', 'Helvetica', sans-serif;
    font-weight: bolder;
    text-align: center;
    color: rgba(0.5, 0.5, 0.5, 0.15)
  }

  footer {
    font-size: 95%;
    color: rgba(0, 0, 0, 0.25);
    text-align: center;
    padding: 2rem 0 2rem 0;
    font-weight: bold !important;
  }
}
