@import './base.css';

#app {
  font-weight: normal;
  margin: 0px auto;
  max-width: 1280px;
  padding: 2rem;
}

a,
.green {
  color: inherit;
  padding: 3px;
  text-decoration: none;
  transition: 0.4s;
}

.green {
  color: hsla(160, 100%, 37%, 1);
}

.highlight-error {
  background-color: red;
  padding: 5px;
}

.highlight-warning {
  background-color: yellow;
  padding: 5px;
}

.rendered {
  background-color: #eee;
  border: 1px solid black;
  color: rgb(42, 42, 42);
  font: 150%  'Lucida Grande','Lucida Sans Unicode',Verdana,Helvetica,sans-serif,'GNU Unifont';
  height: 300px;
  line-height: 50px;
  overflow: auto;
  padding: 20px;
}

@media screen and (max-width: 800px) {
  .rendered {
    display: none;
  }
}

.rendered p {
  margin: 1.286em auto;
}

.btn-clear {
  float: right;
}

textarea {
  color: rgb(42, 42, 42);
  font: 150%  'Lucida Grande','Lucida Sans Unicode',Verdana,Helvetica,sans-serif,'GNU Unifont';
  height: 100px;
  line-height: 50px;
  max-width: 100%;
  padding: 20px;
  width: 800px;
}

button {
  height: 50px;
  width: 200px;
}

#debug {
  height: 800px;
  width: 200px;
}

.actions > * {
  float: right;
}

.success {
  color: green;
}

.warning {
  color: orange;
}

.error {
  color: red;
}

header {
  line-height: 1.5;
}

@media (min-width: 1024px) {
  header {
    display: flex;
    padding-right: calc(var(--section-gap) / 2);
    place-items: center;
  }

  header .wrapper {
    display: flex;
    flex-wrap: wrap;
    place-items: flex-start;
  }
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding:2rem;
  }

  .input {
    margin-right: 1rem;
  }

  .actions {
    display: none;
  }
}
