@use 'base.css';
@use 'themes.scss';
@use 'desktop.scss';
@use 'mobile.scss';

#app {
  margin: 0;
  padding: 0;
  width: 100%;
}

.themed {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: start;
}

a {
  color: var(--color-link);
}

body {
  font-weight: normal;
  margin: 0 auto;
  display: flex;
}

header, aside, article, .page {
  box-shadow: 0 0 0.5rem var(--color-shadow);
}

header {
  border-style: solid;
  border-width: 0 0 0.5rem 0;
  left: 0;
  position: sticky;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 10;

  nav > * {
    float: right;
  }

  nav a {
    display: inline-block;
    background: white;
    border: 1px solid var(--color-shadow);
    box-shadow: 0 0 0.5rem var(--color-shadow);
    width: 5rem;
    text-align: center;
  }
}

.page {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: start;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: start;

  & > div {
    flex: 1;
  }
}

article {
  font: 100% 'Lucida Grande','Lucida Sans Unicode',Verdana,Helvetica,sans-serif,'GNU Unifont';
  overflow: auto;

  p {
    margin: 1.286em auto;
  }
}

a, .green {
  color: inherit;
  font-weight: inherit;
  padding: 3px;
  text-decoration: none;
  transition: 0.4s;
}

a:hover {
  background-color: var(--color-page);
  cursor: pointer
}

.green {
  color: hsla(160, 100%, 37%, 1);
}

.highlight {
  padding: 4px;
  pointer-events: none;

  &:focus, &:active {
    border-radius: 5px;
    outline: 4px solid cyan;
  }
}

aside {
  .success, .warning, .error, .notice {
    &:before {
      display: inline-block;
      padding: 0 8px 0 2px;
    }
  }

  .success {
    color: green;

    &:before {
      content: '\2714';
    }
  }

  .notice {
    color: darkorange;

    &:before {
      content: '\25C9';
    }
  }

  .warning {
    color: darkorange;

    &:before {
      content: '\25C9';
    }
  }

  .error {
    color: red;

    &:before {
      content: '\2718';
    }
  }
}

.highlight-notice {
  background-color: rgba(255, 255, 0, 0.3);
}

.highlight-error {
  background-color: rgba(255, 0, 0, 0.7);
}

.highlight-warning {
  background-color: rgba(255, 128, 0, 0.7);
}

hr {
  padding: 20px;
  border: none;
  text-align: center;
  color: gray;

  &::before {
    content: "— «·» —";
  }
}

strong {
  font-weight: bold;
}

textarea {
  font: 100% 'Lucida Grande','Lucida Sans Unicode',Verdana,Helvetica,sans-serif,'GNU Unifont';
  height: 8rem;
  resize: none;
  width: 100%;
}

.col-span-1 { grid-column-end: span 1; }
.col-span-2 { grid-column-end: span 2; }
.col-span-3 { grid-column-end: span 3; }
.col-span-4 { grid-column-end: span 4; }
.col-span-5 { grid-column-end: span 5; }
.col-span-6 { grid-column-end: span 6; }
.col-span-7 { grid-column-end: span 7; }
.col-span-8 { grid-column-end: span 8; }
.col-span-9 { grid-column-end: span 9; }
.col-span-10 { grid-column-end: span 10; }
.col-span-11 { grid-column-end: span 11; }
.col-span-12 { grid-column-end: span 12; }
