@import './base.css';
@import './themes.scss';

:root {
  --border-width: 3px;
}

#app {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-weight: normal;
  margin: 0 auto;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 11rem;
  border-width: 0 0 var(--border-width) 0;
  border-style: solid;
}

main {
  margin: 0rem 8em 0 8rem;
  background: rgb(0, 0, 0, 0.1);
}

article {
  color: #404040;
  font: 100% 'Lucida Grande','Lucida Sans Unicode',Verdana,Helvetica,sans-serif,'GNU Unifont';
  overflow: auto;
}


a,
.green {
  color: inherit;
  padding: 3px;
  text-decoration: none;
  transition: 0.4s;
}

.green {
  color: hsla(160, 100%, 37%, 1);
}

.highlight-error {
  background-color: red;
  padding: 5px;
}

.highlight-warning {
  background-color: yellow;
  padding: 5px;
}

article p {
  margin: 1.286em auto;
}

.btn-clear {
  float: right;
}

textarea {
  color: rgb(42, 42, 42);
  font: 100% 'Lucida Grande','Lucida Sans Unicode',Verdana,Helvetica,sans-serif,'GNU Unifont';
  height: 8rem;
  width: 100%;
  resize: none;
}

button {
  height: 50px;
  width: 200px;
}

#debug {
  height: 800px;
  width: 200px;
}

nav > * {
  float: right;
}

.success {
  color: green;
}

.warning {
  color: orange;
}

.error {
  color: red;
}

.col-span-1 { grid-column-end: span 1; }
.col-span-2 { grid-column-end: span 2; }
.col-span-3 { grid-column-end: span 3; }
.col-span-4 { grid-column-end: span 4; }
.col-span-5 { grid-column-end: span 5; }
.col-span-6 { grid-column-end: span 6; }
.col-span-7 { grid-column-end: span 7; }
.col-span-8 { grid-column-end: span 8; }
.col-span-9 { grid-column-end: span 9; }
.col-span-10 { grid-column-end: span 10; }
.col-span-11 { grid-column-end: span 11; }
.col-span-12 { grid-column-end: span 12; }

@media (hover: hover) {
  a:hover {
    background-color: var(--color-theme-primary);
    /* background-color: hsla(160, 100%, 50%, 0.9); */
  }
}

@media screen and (max-width: 800px) {
  footer, article {
    display: none;
  }

  aside {
    position: absolute;
    top: 12rem;
  }

  header {
    padding: 0.5rem;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    background: #ddd
  }

  .container {
    display: grid;
    padding-left: 2rem;
    padding-right: 2rem;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 0.5rem;
  }

  header {
    padding: 1rem;
  }

  aside {
    margin-top: -2.5rem;
    position: absolute;
    background: white;
    border-width: var(--border-width);
    border-style: solid;
    padding: 2rem 1rem 1rem 1rem;
    border-radius: 0 0 1rem 1rem;
    filter: drop-shadow(10px 10px 5px rgba(0,0,0,0.2));
  }

  textarea {
    padding: 1rem;
    background: white;
    border-radius: 1rem 0 0 1rem;
    border-width: var(--border-width);
    border-style: solid;
  }

  textarea:hover, textarea:active, textarea:focus {
    border-color: gold;
  }

  textarea:active, .textarea:focus {
    background: #fff4cb;
    outline: 0;
  }

  nav {
    display: none;
  }

  article {
    background: rgb(255, 255, 255, 0.5);
    grid-column-end: span 8;
    padding: 2rem;
    border-radius: 0 0 1rem 1rem;
  }

  .info {
    margin: 5rem 1rem 5rem 1rem;

  }

  .anchor-offset {
    position: relative;
    visibility: hidden;
    top: -15rem;
  }

  footer {
    text-align: center;
    padding: 2rem 0 2rem 0;
  }
}
