@media screen and (max-width: 1000px) {
  footer, article {
    display: none;
  }

  aside {
    left: 1rem;
    padding: 1rem;
    position: absolute;
    right: 1rem;
    top: 11rem;
  }

  header {
    padding: 0.5rem;
  }

  .placeholder-text {
    display: none;
  }
}
