@media screen and (max-width: 1000px) {
  footer, article {
    display: none;
  }

  header {
    height: 11.6rem;
    padding: 1rem;
  }

  .container {
    display: grid;
    height: 100%;
  }

  div:has(> article) {
    display: none;
  }

  aside {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    justify-content: start;
    margin: 0 1rem 0 1rem;
    padding: 1rem;

    & .word-count-display {
      display: none;
    }
  }

  .placeholder-text {
    display: none;
  }

  nav a {
    border-radius: 0.5rem 0.5rem 0 0;
    margin: 0.1rem 0 0 0.1rem;

    &:hover {
      box-shadow: inset 0 0 5px rgba(255, 255, 255, 1);
    }

    &:active {
      box-shadow: inset 0 0 5px rgba(128, 128, 128, 1);
    }
  }
}
