@property  --color-theme-primary {
    syntax: "<color>";
    inherits: true;
    initial-value: grey;
}

.theme-blue {
    --color-theme-primary: #1ebed9;
}
body:has(.theme-blue) {
    background: oklch(from #1ebed9 0.9 0.03 h);
}

.theme-green {
    --color-theme-primary: #98db7a;
}
body:has(.theme-green) {
    background: oklch(from #98db7a 0.9 0.03 h);
}

.theme-orange {
    --color-theme-primary: #ff915b;
}
body:has(.theme-orange) {
    background: oklch(from #ff915b 0.9 0.03 h);
}

.theme-purple {
    --color-theme-primary: #b892f0;
}
body:has(.theme-purple) {
    background: oklch(from #b892f0 0.9 0.03 h);
}

.theme-red {
    --color-theme-primary: #f78b8b;
}
body:has(.theme-red) {
    background: oklch(from #f78b8b 0.9 0.03 h);
}

.theme-yellow {
    --color-theme-primary: #fff88b;
}
body:has(.theme-yellow) {
    background: oklch(from #fff88b 0.9 0.03 h);
}

.theme {
    --color-theme-border: oklch(from var(--color-theme-primary) calc(l * .75) c h);
    --color-theme-gradient-start: var(--color-theme-primary);
    --color-theme-gradient-end: oklch(from var(--color-theme-primary) calc(l * 1.25) c h);

    .fixed { background: linear-gradient(0deg, var(--color-theme-gradient-start) 0%, var(--color-theme-gradient-end) 100%); }
    .fixed, .messages, textarea { border-color: var(--color-theme-border); }
    .messages {
        filter: drop-shadow(10px 10px 5px rgba(0,0,0,0.2));
    }
}
