@property  --color-theme-primary {
    syntax: "<color>";
    inherits: true;
    initial-value: grey;
}


.theme-red {
    --color-theme-primary: #f78b8b;
}
.theme-orange {
    --color-theme-primary: #ff915b;
}
.theme-yellow {
    --color-theme-primary: rgb(254, 254, 124);
}
.theme-green {
    --color-theme-primary: #98db7a;
}
.theme-blue {
    --color-theme-primary: #1ebed9;
}
.theme-purple {
    --color-theme-primary: #b892f0;
}

@media (min-width: 1024px) {
    body:has(.theme-red) {
        background: oklch(from #f78b8b 0.9 0.02 h);
    }
    body:has(.theme-orange) {
        background: oklch(from #ff915b 0.9 0.02 h);
    }
    body:has(.theme-yellow) {
        background: oklch(from rgb(254, 254, 124) 0.9 0.03 h);
    }
    body:has(.theme-green) {
        background: oklch(from #98db7a 0.9 0.02 h);
    }
    body:has(.theme-blue) {
        background: oklch(from #1ebed9 0.9 0.02 h);
    }
    body:has(.theme-purple) {
        background: oklch(from #b892f0 0.9 0.02 h);
    }
}

.themed {
    --color-theme-page: oklch(from var(--color-theme-primary) calc(l * 1.5) c h);
    --color-theme-border: oklch(from var(--color-theme-primary) calc(l * .75) c h);
    --color-theme-gradient-start: var(--color-theme-primary);
    --color-theme-gradient-end: oklch(from var(--color-theme-primary) calc(l * 1.5) c h);

    header { background: linear-gradient(0deg, var(--color-theme-gradient-start) 0%, var(--color-theme-gradient-end) 100%); }
    header, aside, textarea { border-color: var(--color-theme-border); }
}
